.menuContainer {
  padding: 80px 0;
}

.restuarant {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 245px;
  pointer-events: none;
}

.restuarant__container {
  background-color: #171a29;
  color: #fff;
  height: 245px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  margin: 0 -20px;
  transform-origin: left top;
  transform: scaleX(1);
  pointer-events: auto;
  padding: 0 20px;
}

.restuarant__container__pos {
  transform-origin: left top;
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
  display: table;
  height: 100%;
  table-layout: fixed;
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.restuarant__imageContainer {
  width: 254px;
  max-width: 254px;
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
}

.restuarant__imageContainer__box {
  width: 100%;
  height: 165px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #eef0f5;
  transform: translate3d(0, 40px, 0) scaleX(1);
  transform-origin: left top;
  transition: transform 0.2s ease-in-out;
}

.image__opaque {
  opacity: 1 !important;
}

.restuarant__nameContainer {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0 55px;
  transform: translateZ(0);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.restuarant__nameContainer__pos {
  overflow: visible;
  position: relative;
  pointer-events: auto;
}
.restuarant__name {
  display: flex;
  justify-content: space-between;
}

.restuarant__name__flex {
  display: flex;
}

.restuarant__name__flex__heading {
  max-width: 538px;
  margin: 0;
  font-weight: 300;
  font-size: 32px;
}

.restuarant__timeContainer {
  color: inherit;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  top: 47px;
  width: 100%;
  z-index: -1;
}

.restuarant__ratings {
  display: inline-block;
}
.restuarant__ratings__container {
  margin-top: 21px;
}

.ratings:first-child {
  padding-left: 0;
  padding-right: 35px;
}

.ratings {
  padding: 0 35px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.2);
  display: inline-block;
}
.ratings__1 {
  color: inherit;
  font-weight: 600;
  font-size: 16px;
}
.ratings_text {
  text-transform: capitalize;
}
.ratings_text__1 {
  text-transform: lowercase;
}
.ratings__2 {
  color: inherit;
  opacity: 0.7;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}
.icon_1 {
  margin-right: 6px;
  font-size: 12px;
  position: relative;
  top: -2px;
}
[class^="icon-"] {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.restuarant__opening__container {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.restuarant__opening {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
  max-width: 538px;
}
.restuarant__opening__time {
  margin-top: 8px;
}
.restuarant__opening__text1 {
  padding: 5px 8px;
  background-color: #8a584b;
  color: #fff;
  font-size: 13px;
  height: 25px;
  font-weight: 400;
  white-space: nowrap;
  display: inline-block;
}
.restuarant__opening__text2 {
  background-color: #35728a !important;
}
.restuarant__opening__text3 {
  margin-right: 15px;
}

.restuarant__area {
  display: inline-block;
  color: inherit;
  opacity: 0.7;
  font-size: 15px;
}
.restuarant__area2 {
  margin-top: 12px;
}

.offer {
  color: inherit;
  width: 298px;
  padding: 74px 0 48px;
  height: 100%;
  display: table-cell;
  vertical-align: top;
}

.offer_container {
  transform: translateZ(0);
  transition: transform 0.2s ease-in-out;
  border: 1px solid #bec0c8;
  position: relative;
}
.offer_text {
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  background-color: #171a29;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: absolute;
  top: -13px;
  left: -6px;
}
.offer__inner {
  padding: 31px 40px 25px 25px;
}

.offer__inner__text:first-child {
  margin-top: 0;
}
.offer__inner__text {
  line-height: 17px;
  display: flex;
  align-items: center;
}

.offer__inner__text__content {
  word-break: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  color: inherit;
  opacity: 0.9;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 10px;
}

.menuContainer {
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.menuContainer__1 {
  display: flex;
}

.menu__partition {
  display: flex;
  width: 902px;
}

.menu__contents {
  flex-grow: 1;
  width: 648px;
  padding: 30px 55px 100px;
}

.contents {
  border-bottom: 2px solid #282c3f;
  margin-top: 23px;
}

.contents__category {
  padding-bottom: 2px;
}
.contents__category__1 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.category__total {
  padding-bottom: 30px;
  font-size: 13px;
  color: #686b78;
  font-weight: 500;
  text-transform: uppercase;
}

.contents__Container:first-child {
  padding-top: 0;
}
.contents__Container {
  position: o;
}

.contents__Container__pos {
  align-items: flex-start;
}

.contents__Container__pos1 {
  display: flex;
  justify-content: space-between;
}

.food__img {
  font-size: 1rem;
  vertical-align: middle;
  margin-top: -2px;
  display: inline-block;
}
.food__name__container {
  margin-top: 4px;
}

.food__name__text {
  margin-right: 4px;
  font-size: 1.22rem;
  font-weight: 500;
  color: #3e4152;
  word-break: break-word;
}

.itemPortionContainer {
  align-items: center;
  margin-top: 4px;
}

.styles_price {
  font-size: 1rem;
}
.styles_itemPrice {
  margin-right: 8px;
  font-weight: 400;
  color: #3e4152;
}

.item__tag {
  color: rgb(219, 103, 66);
  border-left-color: rgb(219, 103, 66);
}

.styles_tag {
  padding: 2px 5px 2px 4px;
  font-size: 0.7rem;
  line-height: 1.1;
  border-left-width: 1px;
  border-left-style: solid;
  display: inline-block;
}

.styles_itemDetails {
  vertical-align: middle;
  margin-right: 8px;
}

.styles_tagTitle {
  font-weight: 600;
}
.item__border {
  border-bottom: 0.5px solid #d4d5d9;
  height: 1px;
  padding: 0 12px;
  margin: 20px 0;
}

.styles_itemDesc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: 70%;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.styles_detailsContainer {
  max-width: calc(100% - 144px);
}

.category__border {
  border-bottom: 2px solid #282c3f;
  margin: 23px 23px;
}

.itemImage__container {
  position: relative;
  margin-left: 16px;
  min-width: 118px;
  height: 120px;
  font-size: 0;
}
.styles_itemImage {
  width: 118px;
  height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
  border-color: transparent;
}
.image_background {
  background: rgb(251, 238, 215);
}

.styles_itemAddButton {
  position: absolute;
  left: 50%;
  bottom: 8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.button_style1 {
  display: inline-block;
  height: 30px;
  width: 83px;
  border: 1px solid #d4d5d9;
  color: #60b246;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  background-color: #fff;
}

.button_style2 {
  position: absolute;
  bottom: 8px;
  width: 96px;
  min-height: 36px;
  line-height: 36px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.add_button {
  color: #60b246;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.add_button:hover {
  position: relative;
  box-shadow: 0 2px 8px #d4d5d9;
}

.add1 {
  animation: _1sXH- 0.2s ease;
  opacity: 0;
  transform: translateZ(0);
}
.add2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 33.33333%;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
}
.add3 {
  display: none !important;
}

.add_sub2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 33.33333%;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

.add_sub_13 {
  position: absolute;
  left: 33.33333%;
  top: 0;
  width: 33.33333%;
  cursor: pointer;
}
